.mf {
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; }
  .mf label {
    font-weight: 300;
    font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: #c84246; }
  .mf input {
    background-color: #EEE;
    color: #b3b3b3; }
    .mf input:hover {
      color: #b3b3b3; }
    .mf input:focus {
      color: #c84246; }
  .mf a {
    color: #df9193; }
  .mf span.mf-loc {
    color: #AAA; }
  .mf span.mf-note {
    color: #c84246; }
  .mf .mf-bar {
    background-color: #DDD; }
  .mf .mf-progress {
    background-color: #c84246; }
